body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  font-family: monospace;
}

.pane {
  border: 1px solid rgb(7, 9, 13);
  display: block;
}

.mainpane {
  position: absolute;
  overflow: hidden;
  display: block;
}

.scrolltrack {
  float: right;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(29, 29, 29)), color-stop(0.6, rgb(50, 50, 50)));
  border: 1px solid rgb(29, 29, 29);
  z-index: 10;
  text-align: center;
  cursor: pointer;
}

.scrollbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(0.2, rgb(88, 88, 88)), color-stop(0.6, rgb(64, 64, 64)));
  border: 1px solid rgb(25, 25, 25);
  position: relative;
  border-radius: 6px;
}

.rowitem {
  position: absolute;
  border-bottom: 1px dashed rgb(80, 80, 80);
  width: 100%;
  padding-left: 5px;
}

.item {
  height: 30px;
  width: 100%;
}